In [1]:
import numpy as np 
import pandas as pd

In [2]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
# import xgboost as xgb
from sklearn.ensemble.partial_dependence import partial_dependence, plot_partial_dependence
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from xgboost import XGBClassifier
from xgboost import plot_importance

In [3]:
result= pd.read_csv("../Data/result.csv")

In [4]:
result

,before,after,biased,top1,top2,top3
0,in ostrobothnia leipjuusto is called juustolei...,in ostrobothnia leipjuusto is called juustolei...,fine,fine,ostrobothnia,commonly
1,it is located along the beautiful gt road made...,it is located along the gt road made by sher s...,beautiful,beautiful,shah,gt
2,parmenion also parmenio c 400 – ecbatana 330 b...,parmenion also parmenio c 400 – ecbatana 330 b...,murdered,false,murdered,great
3,it was commonly suggested that the choice of r...,it was commonly suggested that the choice of r...,stellar,stellar,choice,unfortunate
4,victoria also known as vitruvia was a leader i...,victoria also known as vitruvia was a leader i...,so-called,so-called,gallic,leader
...,...,...,...,...,...,...
10774,in april 2008 acting virgin ceo neil berkett s...,in april 2008 acting virgin ceo neil berkett s...,television,neutrality,virgin,sparked
10775,the national lawyers guild is a progressive /l...,the national lawyers guild is a progressive ba...,/left-wing,progressive,progressive,/left-wing
10776,a plan to redevelop the old tiger stadium site...,a plan to redevelop the old tiger stadium site...,now-vibrant,historic,now-vibrant,10-acre
10777,instrumentally lifeson is regarded as a virtuo...,instrumentally lifeson is regarded as a guitar...,virtuoso,virtuoso,unorthodox,copious
10778,flynt joined the us army in 1958 at only fifte...,flynt joined the us army in 1958 at only fifte...,lasting,barely,joined,flynt

In [5]:
unmatched1=[]
for i in range(len(result)):
    if(result['biased'][i]!=result['top1'][i]):
        unmatched1.append(result['biased'][i])

In [6]:
len(result)

10779

In [7]:
len(unmatched1)

3450

In [8]:
unmatched2=[]
for i in range(len(result)):
    if((result['biased'][i]!=result['top1'][i])&(result['biased'][i]!=result['top2'][i])):
        unmatched2.append(result['biased'][i])

In [9]:
len(unmatched2)

2119

In [10]:
unmatched3=[]
for i in range(len(result)):
    if((result['biased'][i]!=result['top1'][i])&(result['biased'][i]!=result['top2'][i])&(result['biased'][i]!=result['top3'][i])):
        unmatched3.append([result['biased'][i],i])

In [11]:
len(unmatched3)

1492

In [12]:
x = pd.DataFrame(unmatched3)
count=x[0].value_counts()

In [14]:
x

               0      1
0        islamic     32
1        arguing     72
2          panel     75
3     varangians     83
4       minority     92
...          ...    ...
1487    achieved  10754
1488    factions  10766
1489         men  10768
1490  television  10774
1491     lasting  10778

[1492 rows x 2 columns]

In [13]:
count

gnu/            9
many            7
american        6
political       5
nearly          5
               ..
wrote           1
war             1
unilaterally    1
men             1
stealng         1
Name: 0, Length: 1250, dtype: int64

In [15]:
x.to_csv('../trained_model/unmatched_word_after_Top3.csv')

In [16]:
count.to_csv('../trained_model/count_unmatched.csv')

In [17]:
# i=0
# for i in range(len(result)):
#     if(result['biased'][i]=='the'):
#         print(i)
#         break

In [18]:
count

gnu/            9
many            7
american        6
political       5
nearly          5
               ..
wrote           1
war             1
unilaterally    1
men             1
stealng         1
Name: 0, Length: 1250, dtype: int64

In [19]:
biased=x[0]

In [20]:
biased

0          islamic
1          arguing
2            panel
3       varangians
4         minority
           ...
1487      achieved
1488      factions
1489           men
1490    television
1491       lasting
Name: 0, Length: 1492, dtype: object