In [1]:
import numpy as np # linear algebra
import pandas as pd
import nltk
import string
from nltk.corpus import stopwords
from nltk import sent_tokenize, word_tokenize, TweetTokenizer 
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
import re
wordnet_lemmatizer = WordNetLemmatizer()
import spacy
# nlp = spacy.load('en_core_web_sm')
from afinn import Afinn
af = Afinn()

In [2]:
train = pd.read_csv("../Data/biased.word.train",delimiter='\t',encoding='utf-8',header=None)

In [3]:
train_data=train.iloc[:,3:5]
train_data.columns=['before','after']
train_data.to_csv("../Data/train_data.csv",index=None)

In [4]:
def preprocess(text):
    text = re.sub('[()!@#$.,;"]/\'', '', text)
    text = text.lower()
    text = text.split()
    text = ' '.join(text)
    text =text.strip()
    return text

In [5]:
X=[]
Y=[]

In [6]:
for i in range(len(train_data)):
    X.append(preprocess(train_data['before'][i]))
    Y.append(preprocess(train_data['after'][i]))

In [7]:
text_preprocessed=pd.DataFrame(X,columns=["before"])
text_preprocessed["after"]=Y

In [8]:
biased=[]
count=-1
c=[]
for i in range(len(text_preprocessed)):
    b=text_preprocessed['before'][i].split()
    a=text_preprocessed['after'][i].split()
    l1=len(b) if(len(b)<=len(a)) else len(a)
    for j in range(l1):
        if (b[j]!=a[j]):
            biased.append(b[j])
            count=i
            break
    if(count!=i):
        biased.append(b[len(b)-1])

In [9]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

In [10]:
truth=pd.DataFrame(biased)
truth.columns=['biased']

In [12]:
text_processed2=[]
truth2=[]
for i in range(len(truth)):
    if not truth['biased'][i] in stop_words:
        text_processed2.append(text_preprocessed.iloc[i])
        truth2.append(truth.iloc[i])

In [13]:
text_processed2=pd.DataFrame(text_processed2,columns=["before","after"])
truth2=pd.DataFrame(truth2)
truth2.columns=['biased']

In [15]:
truth2=truth2.reset_index(drop=True)
truth2

              biased
0        interesting
1      controversial
2          supremely
3             master
4               cena
...              ...
50778     television
50779     /left-wing
50780    now-vibrant
50781       virtuoso
50782        lasting

[50783 rows x 1 columns]

In [16]:
text_processed2=text_processed2.reset_index(drop=True)
text_processed2

,before,after
0,"chloroform ""the molecular lifesaver"" an articl...","chloroform ""the molecular lifesaver"" an articl..."
1,"other campaigners, especially the controversia...","other campaigners, especially the british acti..."
2,vocalist rob halford's performance is consider...,vocalist rob halford's performance is consider...
3,the proud general is a chinese animated featur...,the proud general is a chinese animated featur...
4,"melina is currently dating john cena , known a...","melina is currently dating john hennigan , kno..."
...,...,...
50778,"in april 2008, acting virgin ceo neil berkett ...","in april 2008, acting virgin ceo neil berkett ..."
50779,the national lawyers guild is a progressive /l...,the national lawyers guild is a progressive ba...
50780,a plan to redevelop the old tiger stadium site...,a plan to redevelop the old tiger stadium site...
50781,"instrumentally, lifeson is regarded as a virtu...","instrumentally, lifeson is regarded as a guita..."
50782,flynt joined the us army in 1958 at only fifte...,flynt joined the us army in 1958 at only fifte...

In [17]:
text_processed2.to_csv('../Data/text_processed.csv',index=None)

In [18]:
truth2.to_csv('../Data/ground_truth.csv',index=None)